<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
   <link href="forgot-password.component.css" rel="stylesheet">
  </head>
  <body>

<form action="" class="form">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
 <div class="form-inner">
     <h2 id="header">Set Password</h2>
     <div class="content">
         <label id="accountnumber">User Id</label>
          <input class="input" type="text" placeholder="UserId" required/><br>
          <label id="otp">OTP</label>
          <input class="input" type="text" placeholder="Enter otp" />
          <button class="btn" id= "demo" onclick="myfun()">send</button>
          <script>
            function myfun(){
                document.getElementById('demo').innerHTML = "<button type='submit'>submit</button>";
            }
          </script>
    </div>
 </div>
</form>

  </body>
</html>
