<div id="navbar">
  <ul>
  <li><img src="../../../assets/bank_logo.png" alt="" /></li>
  <li><p class="name">LTI's Digital Banking</p></li>
  <li  class="signOut" style="float: right"><a id="h1" (click)="Signout()">Sign Out</a></li>
  <li style="float: right"><a id="h2" href="https://economictimes.indiatimes.com/industry/banking/finance?from=mdr">News</a></li>
  <li style="float: right"><a id="h3" href="developerinjaipur@gmail.com">Contact</a></li>
  <li style="float: right"><a id="h2" href="">News</a></li>
  <li style="float: right"><a id="h3" href="#">Contact</a></li>
  <li style="float: right">
    <a id = "h4" class="active" routerLink="/dashboard">Dashboard</a>
  </li>
  <li style="float: right">
    <a id = "h4" class="active" routerLink="/home">Home</a>
  </li>
</ul>
</div>
